$nav-color : #333;
$link-color-nav: white;
$hover-color: #eb4947;
$border-color: #5aaddd;
$color-grey: #777777;

.main-nav{
  background-color: $nav-color;
  height : 90px;
}

nav a, nav ul a{
  color: $link-color-nav;
  transition : all 1s ease;
}

nav a:hover, .dropdown-menu a:hover{
  color: $link-color-nav;
  background-color: $hover-color;
}

.atres{
  color: $hover-color;
}

.ima{
  margin-bottom: 20px;
  background-color: black;
  border-radius: 50%;
}


.mixi li {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid $border-color;
  color: $color-grey;
}

 .mixi li:hover{
  color: $link-color-nav;
  background-color: $hover-color;
  text-decoration: none;
  transition : all 1s ease;
}
.mixi li:hover a{
  color : white;
  text-decoration: none;
  transition : all 1s ease;
}
